{% load my_filters %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>查询结果</title>
    <script src="../static/js/food_single.js"></script>
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/food_single.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <ul class="nav">
        <li><a href="{% url 'APP:all_dishes' %}">返回首页</a></li> <!-- 这里是导航的链接 -->
      </ul>
    </div>
    <div class="main">
        {% for food_name,food_path in items %}
        	<div class="card">
        <img src="{{ food_path }}" alt="{{ food_name }}"> <!-- 这里是美食的图片 -->
        <h3>{{ food_name }}</h3> <!-- 这里是美食的名称 -->
        <p>{{ food_introduction|get_item:food_name }}</p> <!-- 这里是美食的简介 -->
        {% if food_name in like_food_list %}
            <span class="like active" data-id="{{ food_name }}">❤</span>
        {% else %}
            <span class="like" data-id="{{ food_name }}">❤</span>
        {% endif %}
      </div>
        {% endfor %}

    </div>
  </div>
</body>
</html>
